<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestionar Pedidos</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-fluid text-center">
  <div><h2>Gestionar pedidos</h2></div>
    <div class="m-2">
        <a class="h3" th:href="@{/ticket/nuevo}">Añadir un Ticket</a>
    </div>
   <div>
       <table class="table table-bordered">
           <thead class="thead-dark">
           <tr>
               <th>ID</th>
               <th>Nombre</th>
               <th>Cantidad</th>
               <th>Hora</th>
               <th>IdCamarero</th>
               <th>Mesa</th>
               <th>Notas</th>
               <th> </th>
           </tr>
           </thead>
           <tbody>
           <th:block th:each="ticket: ${listTicket}">
             <tr>
                 <td>[[${ticket.id}]]</td>
                 <td>[[${ticket.nombre}]]</td>
                 <td>[[${ticket.cantidad}]]</td>
                 <td>[[${ticket.hora}]]</td>
                 <td>[[${ticket.idcamarero}]]</td>
                 <td>[[${ticket.mesa}]]</td>
                 <td>[[${ticket.notas}]]</td>
                 <td>
                     <a class="h4 mr-3 " th:href="@{'/ticket/editar/' + ${ticket.id}}">Editar</a>
                     <a class="h4" th:href="@{'/ticket/borrar/' + ${ticket.id}}">Borrar</a>
                 </td>
             </tr>
           </th:block>
           </tbody>
       </table>
   </div>
</div>
</body>
</html>